%h1= @pin.title
%h2= @pin.desc
Created By:
%p= @pin.user.email

=link_to 'Main Page', root_path
= link_to "Edit", edit_pin_path
= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you Sure?" }